.header{

     width: 100%;
     height: 60px;
     /*padding-right: 20px;*/
     /*background: red;*/
     /*box-shadow: 0 10px 5px -6px grey;*/
    box-shadow: 0 20px 20px -25px #333;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

.logo img{
    width: 80px;
    height: 35px;

}

.menu{
    width: 30%;
    height: 40px;
    }

.menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*.menu ul li{*/
/*    width: 100%;*/
/*    border-right: solid 1px black;*/
/*    display: flex;*/
/*    justify-content: center;*/

/*}*/



.el {
    color: black;
    font-family: "Arial Black";
}

.menu .active{
    color:red;
    /*border:1px solid red;*/
}

.menu ul li:last-child{

    border: none;
}
.search{
    width: 30%;

}
.search input{

    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline:none;
    border: solid 1px black;

}


.basketWrap{

    display: flex;

    align-items: flex-end;
}

.basketWrap img{
    width: 40px;
}

@media screen and (max-width:414px){
    .header{
        height: 100px;
        }
    .logo {
        position: absolute;
        top: 1%;
        left:5%;
    }
    .search{
        position: absolute;
        top:1.1%
    }
    .basket{
        position: absolute;
        top:1%;
        right: 5%;
    }
    .menu{
        width: 100%;
        margin-top: 30px;
    }
    }




