.wrapSlider{
    width: 100%;
    height: 100%;


        overflow: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
    background: aqua;
    /*margin-left: -100%;*/
}
.slid{
    width: 100%;
    height: 100%;
    /*border: solid 1px black;*/

}

.but{
    position: absolute;

}



.slid img{
    width:100%;
    height:100%;
}

.prev, .next{
    width: 40px;
    margin-right: 5px;
}
.btnSliderWrap{
position: absolute;
   /*z-index: 123;*/
   /* width: 50%;*/
    display: flex;
    justify-content: space-between;
}
