.good{
    width:200px;
    height: 200px;
    /*background: grey;*/
    margin: 1px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
justify-content: flex-end;
    /*align-items: flex-end;*/
}

.good img{
    width: 150px;
    /*height: 150px;*/
    margin-left: auto;
    margin-right: auto;
}

.shelf{

    width: 200px;
    height: 30px;
    background: #f6f3fa;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -10px 20px 15px -10px #333;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
align-items: center;

}


.shelf p{

    color: grey;
font-family: "Rockwell Extra Bold";
    font-weight: 600;
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (max-width:414px){
    .goods{
        justify-content: center;
    }

}