*,body,html{
  margin: 0;
  padding: 0;
  text-decoration: none;
    list-style: none;
}
.mainWrap{
  width: 70%;
  height: 100vh;

  margin: auto;
}
.goods{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}




.separator{
  height: 50%;
  border-right: 2px  solid black;

}



/*@media screen and (max-width:375px){*/
/*  .mainWrap{*/
/*    background: red;*/
/*  }*/
/*}*/

/*@media screen and (max-width:1024px){*/
/*  .mainWrap{*/
/*    background: red;*/
/*  }*/
/*}*/



@media screen and (max-width:414px){
  .mainWrap{
    width: 100%;

  }
  .firstScreenWrap{
    display: none;
  }
  .footerWrap{
    display: none;
  }


}
